/* #region general-styles */

body {
  color: #434455;
  background-color: #ffffff;
  font-family: Roboto, Arial, sans-serif;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
}

/* #endregion general-styles */

/* #region header */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.header-container a {
  display: block;
  padding: 24px 0;
}

.nav {
  color: #2e2f42;
  font-weight: 500;
  display: flex;
  gap: 76px;
  align-items: center;
}
.address-list {
  display: flex;
  gap: 40px;
}

.logo {
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  color: #2e2f42;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.48px;
}

.nav-list a {
  position: relative;
}

.nav-list a::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  display: flex;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  transform: scaleX(0);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list a.active {
  color: #404bbf;
}

.nav-list a:focus::after,
.nav-list a:target::after,
.nav-list a.active::after {
  transform: scaleX(1);
}

/* #endregion header */

/* #region hero */

.hero-section {
  color: #ffffff;
  background-color: #2e2f42;
  padding: 188px 0;
  background-image:
    linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/background/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;

  margin: 0 auto 48px auto;
  max-width: 496px;
}
h

/* #endregion hero */

/* #region features */

.features-section {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.features-item {
  flex-basis: calc((100% - 72px) / 4);
}

.features-icons-container {
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

/* #endregion features */

/* #region team */

.team-section {
  background-color: #f4f4fd;
}

.team-element {
  background-color: #ffffff;
  box-shadow:
    0px 2px 1px 0px #2e2f4214,
    0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;

  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;

  flex-basis: calc((100% - 72px) / 4);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-element {
  width: 264px;
}

.team-text {
  text-align: center;
  padding: 32px 16px;
}

.socials-icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

/* #endregion team */

/* #region portfolio */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-item {
  flex-basis: calc((100% - 48px) / 3);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow;
  cursor: pointer;
}

.card-text {
  padding: 32px 16px;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
}

/* #endregion portfolio */

/* #region footer */

.footer {
  color: #f4f4fd;
  background-color: #2e2f42;
  padding: 100px 0;
}

.accent-footer {
  color: #f4f4fd;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  margin-right: 120px;
}

.footer-text {
  max-width: 264px;
  margin-top: 16px;
}

.footer-social-container {
  margin-right: 80px;
}

.footer-icons {
  display: flex;
  gap: 16px;
  margin-top: 16px;
  justify-content: baseline;
}

.social-text {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.5;
  margin: 0;
}

.socials-link-footer:hover,
.socials-link-footer:focus {
  background-color: #31d0aa;
}

.footer-form-container {
  display: flex;
  align-items: flex-end;
  gap: 24px;
}

.footer-input-container {
  display: flex;
  flex-direction: column;
}

.footer-btn-text {
  margin-right: 16px;
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: #31d0aa;
}

/* #endregion footer */
